.menus{
    margin-top: 1.5rem;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.search{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    
}


.tabs{
    display: flex;
    position: relative;
    width: 14rem;
}

.tab{

        width: 7rem;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        font-size: 1.125rem;
        text-decoration: none;
        color: rgb(134, 142, 150);
        height: 3rem;
}



.term{
    background: white;
    height: 2rem;
    width: 6rem;
    border-radius: 4px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: 600;
    color: rgb(73, 80, 87);
    font-size: 0.875rem;
    // box-shadow: rgb(0 0 0 / 5%) 0px 0px 4px;
    cursor: pointer;
}
