blockquote {
  background-color: whitesmoke;
  border-left: thick outset lightgreen;
  padding: 5px 5px 5px 10px;
  margin: 10px 5px 0px 0px;
}

html {
  overflow: hidden;
}

li {
  margin-top: 5px;
}
pre {
  margin-right: 5px;
}

.markdown-contents {
  display: flex;
  margin: 10px;
}
.contents-editor {
  flex: 1;
}
.contents-viewer {
  flex: 1;
  overflow: scroll;
  height: 95vh;
}
.header-editor {
  width: 95%;
}
.markdown-textarea {
  width: 95%;
  height: 90vh;
  resize: none;
}
