.cm-header-1 {
  color: black !important;
  font-size: 32px;
}
.cm-header-2 {
  color: black !important;
  font-size: 24px;
}
.cm-header-3 {
  color: black !important;
  font-size: 18.72px;
}
.cm-header-4 {
  color: black !important;
  font-size: 16px;
}
.cm-header-5 {
  color: black !important;
  font-size: 13.28px;
}
.cm-header-6 {
  color: black !important;
  font-size: 10.72px;
}
