.velogUserPageWrapper {
  padding-bottom: 4rem;
}

.velogWrapper {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.velogProfile {
  margin-top: 5.625rem;
}

.profile {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.profile img {
  display: block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
  //   box-shadow: 0px 0px 4px 0px 0px rgb(0, 0, 0, 0.6);
}

.profileUnderline {
  background: rgb(233, 236, 239);
  width: 100%;
  height: 1px;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  margin-left: 1rem;
}
.name {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: bold;
  color: rgb(33, 37, 41);
}

.name a {
  color: inherit;
  text-decoration: none;
}

.description {
  white-space: pre-wrap;
  font-size: 1.125rem;
  line-height: 1.5;
  margin-top: 0.25rem;
  color: rgb(73, 80, 87);
  letter-spacing: -0.004em;
}

.velogTabs {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.velogTabsWrapper {
  display: flex;
  position: relative;
}

.velogTab {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 1.325rem;
  width: 8rem;
  height: 3rem;
  color: rgb(73, 80, 87);
  text-decoration: none;
  transition: color 0.25s ease-in-out 0s;
  font-weight: 600;
}

.velogTabActive {
  color: rgb(32, 201, 151);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 1.325rem;
  width: 8rem;
  height: 3rem;
  color: rgb(73, 80, 87);
  text-decoration: none;
  transition: color 0.25s ease-in-out 0s;
  font-weight: 600;
}

.tabUnderline {
  width: 8rem;
  height: 2px;
  background: rgb(32, 201, 151);
  position: absolute;
  bottom: -2px;
  transition: left 0.25s ease-in-out 0s;
}

@media (max-width: 1024px) {
  .velogProfile {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 768px) {
  .velogWrapper {
    width: 100%;
  }

  .velogProfile {
    margin-top: 3rem;
  }

  .velogTabs {
    margin-top: 0px;
    margin-bottom: 1.5rem;
  }
}
