blockquote {
  background-color: whitesmoke;
  border-left: thick outset lightgreen;
  padding: 5px 5px 5px 10px;
  margin: 10px 5px 0px 0px;
}

html {
  overflow: hidden;
  height: 100%;
}
body {
  height: 100%;
}
li {
  margin-top: 5px;
}
pre {
  padding: 10px;
  margin-right: 5px;
}
.App {
  height: 100%;
}
#root {
  height: 100%;
}
.markdown-contents {
  display: flex;
  flex-direction: row;
  flex-wrap: inherit;
  margin: 10px;
  height: 100%;
}
.full_height {
  height: 100%;
}
.contents-editor {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}
.contents-viewer {
  flex: 1;
  overflow: scroll;
  margin-left: 10px;
  margin-right: 10px;
}
.header-editor {
  width: 100%;
  font-size: 200px;
}
.markdown-textarea {
  resize: none;
  width: 100%;
  height: 90%;
}
.MuiInput-root {
  font-size: 100px;
}
